<div class="container border">
  <h3><u>Ajout d'un user</u></h3>
  <label>idCustomer</label>
  <input class="form-control" type="text" />
  <label>firstName</label>
  <input class="form-control" type="text" />
  <label>lastName</label>
  <input class="form-control" type="text" />
  <label>birthDate</label>
  <input class="form-control" type="text" />
  <label>email</label>
  <input class="form-control" type="float" />
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2 m-2" type="button">Ajouter</button>
  </div>
</div>
