<h3><u>Recherche produit</u></h3>
<label>Code:</label>
<input type="text" placeholder="search by code" />
<div
  class="border m-2"
  *ngFor="let f of ListProduct; index as i"
  [ngClass]="f.prixunitaire <= 50 ? 'text-primary fst-italic     fs-2s' : ''"
>
  <ul>
    <p>
      {{ i }} .Produit:produit {{ i }}
      <button
        [disabled]="f && f.tauxTva == 0.02"
        (click)="AjusterTVA(i)"
        type="button"
        class="btn btn-danger"
      >
        Ajuster TVA
      </button>
      <button
        (click)="NbProductsByLibelle(f.libelle)"
        type="button"
        class="btn btn-primary"
      >
        nb product
      </button>
    </p>
    <li>idProduit :{{ f.id }}</li>

    <li>code :{{ f.code }}</li>

    <li>libelle :{{ f.libelle }}</li>
    <li>prixUnitaire :{{ f.prixunitaire }}</li>
    <li>tauxTVA :{{ f.tauxTva }}</li>
  </ul>
</div>
<div class="container border">
  <h3><u>Ajout d'un produit</u></h3>
  <label>idProduit</label>
  <input class="form-control" type="number" />
  <label>code</label>
  <input class="form-control" type="text" />
  <label>libelle</label>
  <input class="form-control" type="text" />
  <label>prixUnitaire</label>
  <input class="form-control" type="number" />
  <label>tauxTva</label>
  <input class="form-control" type="float" />
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Ajouter</button>
  </div>
</div>
