<h3><u>Recherche produit</u></h3>
<label>Code:</label>
<input type="text" placeholder="search by code" />
<div
  class="border m-2"
  *ngFor="let f of list; index as i"
  [ngClass]="f.prixUnitaire <= 50 ? 'text-primary fst-italic     fs-2s' : ''"
>
  <ul>
    <p>
      {{ i }} .Produit:produit {{ i }}
      <button
        [disabled]="f && f.tauxTVA == 0.02"
        (click)="AjusterTVA(i)"
        type="button"
        class="btn btn-danger"
      >
        Ajuster TVA
      </button>
    </p>
    <li>idProduit :{{ f.idProduit }}</li>

    <li>code :{{ f.code }}</li>

    <li>libelle :{{ f.libelle }}</li>
    <li>prixUnitaire :{{ f.prixUnitaire }}</li>
    <li>tauxTVA :{{ f.tauxTVA }}</li>
  </ul>
</div>
<div class="container border">
  <h3><u>Ajout d'un produit</u></h3>
  <label>idProduit</label>
  <input class="form-control" type="number" />
  <label>code</label>
  <input class="form-control" type="text" />
  <label>libelle</label>
  <input class="form-control" type="text" />
  <label>prixUnitaire</label>
  <input class="form-control" type="number" />
  <label>tauxTVA</label>
  <input class="form-control" type="float" />
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Ajouter</button>
  </div>
</div>
